
\.vs/

HistoireDeFamille/HistoireDeFamille\.Android/bin/

HistoireDeFamille/HistoireDeFamille\.Android/obj/

HistoireDeFamille/HistoireDeFamille\.Android/HistoireDeFamille\.Android\.csproj\.user

HistoireDeFamille/HistoireDeFamille/bin/

HistoireDeFamille/HistoireDeFamille/obj/
